.generator {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.generator>p {
    color: var(--m2);
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}

.generator>form {
    display: flex;
    flex-direction: row;
}

.generator>form>input {
    flex: 1;
    margin-right: 4px;
    padding: 12px 20px;
    outline: none;
    border: 2px solid var(--g3);
    border-radius: 12px;
    font-size: medium;
    transition: border .3s;
}

.generator>form>input:focus {
    border: 2px solid var(--m1);
}

.generator>form>button {
    padding: 12px 20px;
    background: var(--m1);
    outline: none;
    border: 2px solid var(--m1);
    border-radius: 12px;
    color: var(--g0);
    font-size: medium;
    font-weight: bold;
}