:root {
    --m0: #8BB8FF;
    --m1: #418AFE;
    --m2: #1359C5;
    --g0: #ffffff;
    --g1: #F1F5FC;
    --g2: #EDEFF6;
    --g3: #D6E1F4;
    --g4: #E0E9F6;
    --g5: #D2E0EE;
    --g6: #B4C0CE;
    --g7: #8695A8;
    --g8: #535F72;
    --g9: #373D49;
    --g10: #24282C;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    min-height: 100vh;
    height: 100%;
    background: var(--g0);
}

.msgtest {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 480px;
}

.msgtest>p {
    margin-bottom: 8px;
    font-weight: bold;
}

.msgtest>form {
    display: flex;
    flex-direction: row;
}

.msgtest>form>input {
    flex: 1;
    margin-right: 4px;
    padding: 12px 20px;
    outline: none;
    border: 2px solid #E9EDEE;
    border-radius: 12px;
    font-size: medium;
    transition: all .3s;
}

.msgtest>form>input:focus {
    border: 2px solid var(--m1);
}

.msgtest>form>button {
    padding: 12px 20px;
    background: var(--m1);
    outline: none;
    border: 2px solid var(--m1);
    border-radius: 12px;
    color: var(--g0);
    font-size: medium;
    font-weight: bold;
}

.msgtest>.return {
    padding: 12px 20px;
    background: #E9EDEE;
    border-radius: 12px;
}

.generator {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 480px;
}

.generator>p {
    margin-bottom: 8px;
    font-weight: bold;
}

.generator>form {
    display: flex;
    flex-direction: row;
}

.generator>form>input {
    flex: 1;
    margin-right: 4px;
    padding: 12px 20px;
    outline: none;
    border: 2px solid var(--g3);
    border-radius: 12px;
    font-size: medium;
    transition: border .3s;
}

.generator>form>input:focus {
    border: 2px solid var(--m1);
}

.generator>form>button {
    padding: 12px 20px;
    background: var(--m1);
    outline: none;
    border: 2px solid var(--m1);
    border-radius: 12px;
    color: var(--g0);
    font-size: medium;
    font-weight: bold;
}

.generator>.return {
    padding: 8px 16px;
    background: var(--g2);
    border-radius: 12px;
}

.generator>.return>.keyword {
    font-size: small;
}

.generator>.return>.recommend {
    padding: 12px 20px;
    margin: 12px 0px;
    background: var(--g1);
    border-radius: 12px;
    font-weight: bold;
}

.loading {
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 520px;
    height: 100%;
    background: #ffffffdd;
}

.loading>.lottie {
    width: 200px;
    height: 200px;
    margin: auto;
}

.dragndrop {
    margin: 20px;
    width: 480px;
}

.dragndrop .dropzone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    padding: 20px 0 0 0;
    width: 100%;
    border: 2px dashed var(--g3);
    border-radius: 12px;
    color: var(--g3);
    transition: all .3s;
    overflow: hidden;
}

.dragndrop .dropzone>button {
    margin-bottom: 20px;
    padding: 8px 12px;
    background: var(--m1);
    outline: none;
    border: 2px solid var(--m1);
    border-radius: 8px;
    color: var(--g0);
    font-size: small;
    font-weight: bold;
}

.dragndrop ul {
    padding: 0;
    list-style-type: none;
}

.dragndrop ul>li {
    list-style-type: none;
    margin: 8px 0;
    padding: 12px 20px;
    background: var(--g1);
    border-radius: 12px;
    color: var(--g10);
}

.dragndrop button[type=submit] {
    width: 100%;
    padding: 12px 20px;
    background: var(--m1);
    outline: none;
    border: 2px solid var(--m1);
    border-radius: 12px;
    color: var(--g0);
    font-size: medium;
    font-weight: bold;
}

.dragndrop .preview {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    overflow: scroll;
}

.dragndrop .preview>.item {
    margin: 20px 8px 8px 8px;
    display: flex;
    flex-direction: column;
}

.dragndrop .preview>.item>div {
    display: flex;
    flex-direction: row;
}

.dragndrop .preview>.item>.imgs>img {
    margin: 4px;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    object-fit: cover;
    overflow: hidden;
}

.dragndrop .preview>.item>.tags>span {
    margin: 0px 4px;
    width: 100px;
    height: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: x-small;
    color: var(--g10);
    text-align: center;
}