.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: #ffffff;
}

.msgtest {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 480px;
}

.msgtest>p {
    margin-bottom: 8px;
    font-weight: bold;
}

.msgtest>form {
    display: flex;
    flex-direction: row;
}

.msgtest>form>input {
    flex: 1;
    margin-right: 4px;
    padding: 12px 20px;
    outline: none;
    border: 2px solid #E9EDEE;
    border-radius: 12px;
    font-size: medium;
    transition: all .3s;
}

.msgtest>form>input:focus {
    border: 2px solid #1E41F8;
}

.msgtest>form>button {
    padding: 12px 20px;
    background: #1E41F8;
    outline: none;
    border: 2px solid #1E41F8;
    border-radius: 12px;
    color: #ffffff;
    font-size: medium;
    font-weight: bold;
}

.msgtest>.return {
    padding: 12px 20px;
    background: #E9EDEE;
    border-radius: 12px;
}

.imgtest {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 480px;
}

.imgtest>p {
    margin-bottom: 8px;
    font-weight: bold;
}

.imgtest>form {
    display: flex;
    flex-direction: row;
}

.imgtest>form>input {
    flex: 1;
    margin-right: 4px;
    padding: 12px 20px;
    outline: none;
    border: 2px solid #E9EDEE;
    border-radius: 12px;
    font-size: medium;
    transition: all .3s;
}

.imgtest>form>input:focus {
    border: 2px solid #1E41F8;
}

.imgtest>form>button {
    padding: 12px 20px;
    background: #1E41F8;
    outline: none;
    border: 2px solid #1E41F8;
    border-radius: 12px;
    color: #ffffff;
    font-size: medium;
    font-weight: bold;
}

.imgtest>.return {
    padding: 12px 20px;
    background: #E9EDEE;
    border-radius: 12px;
}

.imgtest>.return>.keyword {
    font-size: small;
}

.imgtest>.return>.recommend {
    padding: 12px 20px;
    margin: 12px 0px;
    background: #d9dDdE;
    border-radius: 12px;
    font-weight: bold;
}